
.pokemon-profile-info {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.8rem;
  gap:0.5rem;
  .info-img {
    background-color: rgba(228, 222, 222, 0.757);
    min-width: 12rem;
    min-height: 12rem;
  }
}

.pokemon-details {
  flex-grow: 3;
  flex-basis: 0;
  padding: 0.8rem;
  display: flex;
}
.pokemon-details {
  // .ability {
  //   flex-grow: 1;
  //   flex-basis: 0;
  // }
  // .moves {
  //   flex-grow: 2;
  //   flex-basis: 0;
  // }
}
.detail-title {
  flex-basis: 100%;
}
.detail-values {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 2rem;
}

@media all and (max-width: 968px) {
  .pokemon-details {
    flex-direction: column;
  }
  .pokemon-profile-info {
    position: static !important;
    padding: 0.4rem;
  }
}
